<p>
	Fetched list from WebServiceX.Net SOAP Api
</p>
<%= link_to "View Countries From DB", countries_path %>
<div class="">
	<table class="table table-bordered" cellspacing="0" width="95%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @countries.each do |country| %>
			<tr>
				<td> <%= country %></td>
				<td><a href=<%= "/country/#{ country}"%>>View Details</a></td>
			</tr>
			<% end %>

		</tbody>
	</table>
	<br />
</div>